<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         verbose="true"
         bootstrap="./tests/bootstrap.php"
>
    <php>
      <ini name="display_errors" value="on"/>
      <server name="HTTP_HOST" value="dev.phrasea.net"/>
      <server name="REQUEST_URI" value="/test.php?key=value"/>
    </php>

    <testsuites>
        <testsuite name="SDK Tests Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
    <blacklist>
      <directory>./vendor</directory>
    </blacklist>
  </filter>
</phpunit>


